/* custome css */
.cust-title{
    text-shadow: white 0px 1px 2px;
}

.cust-spaceHeader{
    height: 500px;
}
.cust-spaceFooter{
    height: 350px;
}

/* image type dive */
.cust-photo{
    
    height: 150px;
    width: 150px;
    background-color: teal;
    border-radius: 5px;
}

.cust-btn:hover{
    border: 1px solid rgba(255, 82, 13, 0.808) !important;
    border-radius: 6px;
    padding: 10px 10px;
    box-shadow: 0 0 2px black;
}

.cust-textVisible{
    color: rgb(0, 0, 0) !important;
    text-shadow: rgb(255, 255, 255) 1px 1px 2px !important;
}
