/* custome css */
.cust-title{
    text-shadow: white 0px 1px 2px;
}

.cust-spaceHeader{
    height: 500px;
}
.cust-spaceFooter{
    height: 350px;
}

/* image type dive */
.cust-photo{
    
    height: 150px;
    width: 150px;
    background-color: teal;
    border-radius: 5px;
}

.cust-btn:hover{
    border: 1px solid rgba(255, 82, 13, 0.808) !important;
    border-radius: 6px;
    padding: 10px 10px;
    box-shadow: 0 0 2px black;
}

.cust-textVisible{
    color: rgb(0, 0, 0) !important;
    text-shadow: rgb(255, 255, 255) 1px 1px 2px !important;
}

.cust-formupdateannonce{
    background-color: rgba(255, 255, 255, 0.692) !important;
    border: solid rgb(25, 95, 201) 2px !important;
}
.cust-labelimage{
    position: relative;
}

.cust-labelimage img:hover ~ .cust-font{
    visibility: visible;
}
.cust-font:hover{
    visibility: visible;
    cursor: pointer;
}
.cust-font:hover ~ .cust-button{
    visibility: visible;
}
.cust-font{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.274);
    width: 100%;
    height: 100%;
    visibility: hidden;
    left: 0px;
}

.cust-button:hover{
    visibility: visible;
    cursor: pointer;
}

.cust-button:hover *{
    visibility: visible;
}
.cust-button{

    display: block;
    position: absolute;
    text-align: center;
    font-weight: bold;
    width: 70px;
    height: 26px;
    background-color: darkturquoise;
    border-radius: 13px;
    color: white;
    left: 35%;
    top: 45%;
    visibility: hidden;

}
.cust-pitureForm{
    height: 250px; 
    cursor: pointer;
}